@charset "UTF-8";
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  text-decoration: none;
  color: black;
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

html {
  /*body*/
}

html body {
  font-family: 'Noto Sans JP', sans-serif;
  /*header*/
  /*line-up*/
  /*topic*/
  /*service*/
  /*wrap*/
}

html body header {
  position: fixed;
  z-index: 10;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  height: 105px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 64px;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  /*header-inner*/
}

@media (max-width: 1100px) {
  html body header {
    width: 95%;
  }
}

@media (max-width: 768px) {
  html body header {
    height: 75px;
  }
}

@media (max-width: 560px) {
  html body header {
    height: 50px;
    top: 13px;
  }
}

html body header #header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90.6%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*logo*/
  /*header-nav*/
  /*btn-gnavi*/
}

html body header #header-inner .logo {
  /*block*/
}

html body header #header-inner .logo img {
  width: 271.5px;
  height: 70px;
}

@media (max-width: 1100px) {
  html body header #header-inner .logo img {
    width: 230px;
    height: 60px;
  }
}

@media (max-width: 560px) {
  html body header #header-inner .logo img {
    width: 130px;
    height: 35px;
  }
}

html body header #header-inner .logo .logo_block {
  text-align: center;
  margin-left: 15px;
}

html body header #header-inner .logo .logo_block a {
  /*h1*/
}

html body header #header-inner .logo .logo_block a h1 {
  font-family: 'Red Hat Display', sans-serif;
}

@media (max-width: 1100px) {
  html body header #header-inner .logo .logo_block a h1 {
    font-size: 27px;
  }
}

@media (max-width: 560px) {
  html body header #header-inner .logo .logo_block a h1 {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  html body header #header-inner .logo .logo_block a h1 {
    font-size: 20px;
  }
}

html body header #header-inner .logo .logo_block a p {
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 425px) {
  html body header #header-inner .logo .logo_block a p {
    font-size: 12px;
  }
}

html body header #header-inner .header-nav {
  font-family: 'Red Hat Display', sans-serif;
  /*ul*/
}

@media (max-width: 768px) {
  html body header #header-inner .header-nav {
    display: none;
    width: 100%;
    color: black;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

html body header #header-inner .header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*g-nav*/
  /*nav-btn*/
}

@media (max-width: 768px) {
  html body header #header-inner .header-nav ul {
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

html body header #header-inner .header-nav ul .g-nav {
  font-size: 20px;
  letter-spacing: 0.5px;
  vertical-align: middle;
  line-height: 67px;
  -webkit-transition: 1s;
  transition: 1s;
  letter-spacing: 0.5px;
  font-weight: bold;
}

@media (max-width: 1100px) {
  html body header #header-inner .header-nav ul .g-nav {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  html body header #header-inner .header-nav ul .g-nav {
    margin-left: 0px;
  }
}

html body header #header-inner .header-nav ul .g-nav a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0px 26px;
}

@media (max-width: 1100px) {
  html body header #header-inner .header-nav ul .g-nav a {
    padding: 0px 18px;
  }
}

html body header #header-inner .header-nav ul .g-nav:hover a {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

html body header #header-inner .header-nav ul .nav-btn {
  font-size: 16px;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  width: 207px;
  margin-left: 26px;
  /*a*/
  /*a*/
}

@media (max-width: 1100px) {
  html body header #header-inner .header-nav ul .nav-btn {
    font-size: 1.1em;
    margin-left: 18px;
  }
}

@media (max-width: 768px) {
  html body header #header-inner .header-nav ul .nav-btn {
    margin-left: 0px;
  }
}

html body header #header-inner .header-nav ul .nav-btn a {
  display: block;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#FF2E47), to(#FFAD88));
  background: linear-gradient(to right, #FF2E47, #FFAD88);
  padding: 20px 66px 16px 66px;
  display: block;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 20px 0px 16px 0px;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.16);
  letter-spacing: 0.4px;
}

@media (max-width: 1100px) {
  html body header #header-inner .header-nav ul .nav-btn a {
    padding: 15px 45px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

html body header #header-inner .header-nav ul .nav-btn a:hover {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

html body header #header-inner .header-nav ul .nav-btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
}

html body header #header-inner .btn-gnavi {
  display: none;
}

@media (max-width: 768px) {
  html body header #header-inner .btn-gnavi {
    display: initial;
    position: fixed;
    top: 25px;
    right: 4%;
    width: 30px;
    height: 24px;
    z-index: 4;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
  }
}

@media (max-width: 560px) {
  html body header #header-inner .btn-gnavi {
    top: 20px;
  }
}

html body header #header-inner .btn-gnavi {
  z-index: 1000;
  /*span*/
  /*span*/
  /*span*/
  /*span*/
}

@media (max-width: 768px) {
  html body header #header-inner .btn-gnavi span {
    position: absolute;
    height: 3px;
    background: black;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    right: 0;
  }
}

@media (max-width: 425px) {
  html body header #header-inner .btn-gnavi span {
    width: 45px;
  }
}

@media (max-width: 768px) {
  html body header #header-inner .btn-gnavi span:nth-of-type(1) {
    top: 0;
    z-index: 1000;
    width: 40px;
  }
}

@media (max-width: 560px) {
  html body header #header-inner .btn-gnavi span:nth-of-type(1) {
    width: 17px;
  }
}

@media (max-width: 768px) {
  html body header #header-inner .btn-gnavi span:nth-of-type(2) {
    top: 10px;
    z-index: 1000;
    width: 40px;
  }
}

@media (max-width: 560px) {
  html body header #header-inner .btn-gnavi span:nth-of-type(2) {
    width: 17px;
    top: 5px;
  }
}

@media (max-width: 768px) {
  html body header #header-inner .btn-gnavi span:nth-of-type(3) {
    top: 20px;
    z-index: 1000;
    width: 40px;
  }
}

@media (max-width: 560px) {
  html body header #header-inner .btn-gnavi span:nth-of-type(3) {
    width: 17px;
    top: 10px;
  }
}

html body header #header-inner .btn-gnavi.hb-open span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body header #header-inner .btn-gnavi.hb-open span:nth-of-type(2) {
  opacity: 0;
}

html body header #header-inner .btn-gnavi.hb-open span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(230deg);
  transform: translateY(-10px) rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 40px;
}

html body .mainvisual {
  height: 36.5vw;
  /*90vh*/
  /*&-wrap*/
}

@media (max-width: 768px) {
  html body .mainvisual {
    margin-bottom: 60px;
    background-position: 67vw 27vw;
  }
}

@media (max-width: 425px) {
  html body .mainvisual {
    margin-bottom: 20px;
    background-position: 40vw 27vw;
  }
}

html body .mainvisual-wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 36.5vw;
  /*90vh*/
  background-image: url(../img/service/service_mainvisual.png);
  background-size: cover;
  /*center-title*/
}

@media (max-width: 1100px) {
  html body .mainvisual-wrap {
    height: 50vw;
  }
}

@media (max-width: 768px) {
  html body .mainvisual-wrap {
    height: 52vw;
  }
}

@media (max-width: 560px) {
  html body .mainvisual-wrap {
    height: 54vw;
  }
}

@media (max-width: 425px) {
  html body .mainvisual-wrap {
    height: 78vw;
  }
}

html body .mainvisual-wrap .center-title {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  /*h3*/
  /*h4*/
}

html body .mainvisual-wrap .center-title h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 70px;
}

@media (max-width: 768px) {
  html body .mainvisual-wrap .center-title h3 {
    font-size: 50px;
  }
}

@media (max-width: 560px) {
  html body .mainvisual-wrap .center-title h3 {
    font-size: 37px;
  }
}

html body .mainvisual-wrap .center-title h4 {
  font-size: 20px;
  letter-spacing: 0.3rem;
}

@media (max-width: 560px) {
  html body .mainvisual-wrap .center-title h4 {
    padding-top: 10px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  html body .mainvisual-wrap .center-title h4 {
    padding-top: 8px;
  }
}

html body .line-up {
  /*warap*/
}

html body .line-up-wrap {
  padding-top: 141px;
  padding-bottom: 84px;
  /*h4*/
  /*h3*/
}

html body .line-up-wrap h4 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
}

@media (max-width: 560px) {
  html body .line-up-wrap h4 {
    font-size: 13px;
  }
}

html body .line-up-wrap h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 44px;
  text-align: center;
  color: #2C75FF;
  font-weight: 800;
  margin-bottom: 54.5px;
}

@media (max-width: 560px) {
  html body .line-up-wrap h3 {
    font-size: 38px;
  }
}

html body .line-up-wrap .image_item_sp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 425px) {
  html body .line-up-wrap .image_item_sp ul {
    width: 335px;
  }
}

html body .line-up-wrap .image_item_sp ul li {
  background-color: #EBF2FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  padding: 12px 15px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  /*item_text*/
}

@media (max-width: 425px) {
  html body .line-up-wrap .image_item_sp ul li {
    width: 162px;
    padding: 12px 10px;
  }
}

html body .line-up-wrap .image_item_sp ul li img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

html body .line-up-wrap .image_item_sp ul li .item_text {
  font-size: 12px;
  color: #2C75FF;
}

@media (max-width: 425px) {
  html body .line-up-wrap .image_item_sp ul li .item_text {
    font-size: 11px;
  }
}

html body .line-up-wrap .image_item {
  width: 787px;
  margin: 0 auto;
  /*ul*/
}

@media (max-width: 1100px) {
  html body .line-up-wrap .image_item {
    width: 740px;
  }
}

@media (max-width: 768px) {
  html body .line-up-wrap .image_item {
    width: 540px;
  }
}

@media (max-width: 560px) {
  html body .line-up-wrap .image_item {
    display: none;
  }
}

html body .line-up-wrap .image_item ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*li*/
}

@media (max-width: 1100px) {
  html body .line-up-wrap .image_item ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html body .line-up-wrap .image_item ul li {
  list-style: none;
  margin-bottom: 35px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  /*img*/
  /*item_text*/
}

@media (max-width: 1100px) {
  html body .line-up-wrap .image_item ul li {
    margin-right: 6px;
    margin-left: 6px;
  }
}

@media (max-width: 1300px) {
  html body .line-up-wrap .image_item ul li img {
    width: 11.8vw;
  }
}

html body .line-up-wrap .image_item ul li .item_text {
  display: block;
  font-size: 14px;
  margin-top: 13px;
  color: #2C75FF;
}

html body .topic {
  padding-top: 125px;
  /*wrap*/
}

@media (max-width: 560px) {
  html body .topic {
    padding-top: 66px;
  }
}

html body .topic_wrap {
  width: 1088px;
  margin: 0 auto;
  padding-bottom: 130px;
}

@media (max-width: 1100px) {
  html body .topic_wrap {
    width: 90%;
  }
}

@media (max-width: 560px) {
  html body .topic_wrap {
    padding-bottom: 70px;
  }
}

html body .topic_wrap .about {
  color: #364E60;
  font-size: 16px;
}

@media (max-width: 560px) {
  html body .topic_wrap .about {
    font-size: 13px;
  }
}

html body .topic_wrap .service_en {
  font-size: 44px;
  color: #2C75FF;
  margin-bottom: 35px;
}

@media (max-width: 560px) {
  html body .topic_wrap .service_en {
    font-size: 38px;
  }
}

html body .topic_wrap .article_wrap {
  margin-bottom: 55.5px;
  /*articlewrap*/
}

@media (max-width: 560px) {
  html body .topic_wrap .article_wrap {
    margin-bottom: 45px;
  }
}

html body .topic_wrap .article_wrap .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 992px;
  border-bottom: 1px solid #DBDBDB;
  padding: 29.5px 0px;
  margin: 0 auto;
  /*a*/
}

@media (max-width: 1100px) {
  html body .topic_wrap .article_wrap .article {
    width: 90%;
  }
}

@media (max-width: 768px) {
  html body .topic_wrap .article_wrap .article {
    width: 100%;
  }
}

@media (max-width: 560px) {
  html body .topic_wrap .article_wrap .article {
    padding: 21px 0px 21px;
  }
}

html body .topic_wrap .article_wrap .article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  html body .topic_wrap .article_wrap .article a {
    display: block;
  }
}

html body .topic_wrap .article_wrap .article a .date {
  color: #364E60;
  margin-left: 20px;
  margin-right: 41px;
  font-size: 18px;
}

@media (max-width: 768px) {
  html body .topic_wrap .article_wrap .article a .date {
    margin-left: 0px;
    margin-bottom: 11px;
  }
}

@media (max-width: 560px) {
  html body .topic_wrap .article_wrap .article a .date {
    font-size: 14px;
  }
}

html body .topic_wrap .article_wrap .article a .article_text {
  font-size: 16px;
}

@media (max-width: 560px) {
  html body .topic_wrap .article_wrap .article a .article_text {
    font-size: 14px;
  }
}

html body .topic_wrap .article_wrap .article:first-child {
  border-top: 1px solid #DBDBDB;
}

html body .topic_wrap .btn {
  width: 185px;
  margin: 0 0 0 auto;
}

@media (max-width: 768px) {
  html body .topic_wrap .btn {
    width: 250px;
  }
}

@media (max-width: 560px) {
  html body .topic_wrap .btn {
    margin: 0 auto;
    width: 99%;
  }
}

html body .topic_wrap .btn a {
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 18px 0px 14px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#FF2E47), to(#FFAD88));
  background: linear-gradient(to right, #FF2E47, #FFAD88);
  border-radius: 30px;
}

@media (max-width: 560px) {
  html body .topic_wrap .btn a {
    padding: 20px 0px;
  }
}

html body .service {
  background-color: #F7FAFF;
  padding-top: 40px;
  padding-bottom: 50px;
  /*wrap*/
}

html body .service_wrap {
  width: 890px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  html body .service_wrap {
    width: 700px;
  }
}

@media (max-width: 768px) {
  html body .service_wrap {
    width: 500px;
  }
}

@media (max-width: 560px) {
  html body .service_wrap {
    width: 425px;
  }
}

@media (max-width: 425px) {
  html body .service_wrap {
    width: 90%;
  }
}

html body .service_wrap #left {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  padding: 52px 408px 51px 52px;
  width: 890px;
  position: relative;
  margin-bottom: 135px;
  /*card_title_block*/
  /*card_text*/
}

@media (max-width: 1100px) {
  html body .service_wrap #left {
    width: 700px;
    padding: 52px 300px 51px 52px;
  }
}

@media (max-width: 768px) {
  html body .service_wrap #left {
    width: 500px;
    padding: 52px 52px 350px 52px;
  }
}

@media (max-width: 560px) {
  html body .service_wrap #left {
    width: 425px;
    padding: 52px 52px 200px 52px;
  }
}

@media (max-width: 425px) {
  html body .service_wrap #left {
    width: 90%;
    margin: 0 auto;
    padding: 45px 26px 180px 26px;
    margin-bottom: 80px;
  }
}

html body .service_wrap #left .card_title_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23.4px;
}

html body .service_wrap #left .card_title_block img {
  margin-right: 20px;
}

html body .service_wrap #left .card_title_block .type {
  font-size: 24px;
  color: #2C75FF;
  font-weight: bold;
}

@media (max-width: 560px) {
  html body .service_wrap #left .card_title_block .type {
    font-size: 20px;
  }
}

html body .service_wrap #left .card_text {
  line-height: 2.25;
  color: #364E60;
}

@media (max-width: 1100px) {
  html body .service_wrap #left .card_text {
    font-size: 14px;
  }
}

html body .service_wrap #left .pic {
  position: absolute;
  left: 57%;
  top: -70px;
  width: 35vw;
  height: 24vw;
}

@media (max-width: 1100px) {
  html body .service_wrap #left .pic {
    left: 60%;
    top: -10%;
    width: 40vw;
    height: 30vw;
  }
}

@media (max-width: 768px) {
  html body .service_wrap #left .pic {
    left: 10%;
    top: 50%;
    width: 384px;
    height: 260px;
  }
}

@media (max-width: 560px) {
  html body .service_wrap #left .pic {
    left: 12%;
    top: 65%;
    width: 330px;
    height: 200px;
  }
}

@media (max-width: 560px) {
  html body .service_wrap #left .pic {
    left: 10%;
    top: 70%;
    width: 70vw;
    height: 48vw;
  }
}

html body .service_wrap #right {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
  padding: 52px 52px 51px 408px;
  width: 890px;
  position: relative;
  margin-bottom: 135px;
  /*card_title_block*/
  /*card_text*/
}

@media (max-width: 1100px) {
  html body .service_wrap #right {
    width: 700px;
    padding: 52px 52px 51px 300px;
  }
}

@media (max-width: 768px) {
  html body .service_wrap #right {
    width: 500px;
    padding: 52px 52px 350px 52px;
  }
}

@media (max-width: 560px) {
  html body .service_wrap #right {
    width: 425px;
    padding: 52px 52px 200px 52px;
  }
}

@media (max-width: 425px) {
  html body .service_wrap #right {
    width: 90%;
    margin: 0 auto;
    padding: 45px 26px 180px 26px;
    margin-bottom: 80px;
  }
}

html body .service_wrap #right .card_title_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23.4px;
}

html body .service_wrap #right .card_title_block img {
  margin-right: 20px;
}

html body .service_wrap #right .card_title_block .type {
  font-size: 24px;
  color: #2C75FF;
  font-weight: bold;
}

@media (max-width: 425px) {
  html body .service_wrap #right .card_title_block .type {
    font-size: 20px;
  }
}

html body .service_wrap #right .card_text {
  line-height: 2.25;
  color: #364E60;
}

@media (max-width: 1100px) {
  html body .service_wrap #right .card_text {
    font-size: 14px;
  }
}

html body .service_wrap #right .pic_even {
  position: absolute;
  right: 57%;
  top: -70px;
  width: 35vw;
  height: 24vw;
}

@media (max-width: 1100px) {
  html body .service_wrap #right .pic_even {
    right: 60%;
    top: -10%;
    width: 40vw;
    height: 30vw;
  }
}

@media (max-width: 768px) {
  html body .service_wrap #right .pic_even {
    left: 10%;
    top: 50%;
    width: 384px;
    height: 260px;
  }
}

@media (max-width: 560px) {
  html body .service_wrap #right .pic_even {
    left: 12%;
    top: 65%;
    width: 330px;
    height: 200px;
  }
}

@media (max-width: 425px) {
  html body .service_wrap #right .pic_even {
    left: 10%;
    top: 70%;
    width: 70vw;
    height: 48vw;
  }
}

html body .button-wrap {
  background-image: url(../img/common/contact_mainvisual.png);
  background-size: 100% 510px;
  height: 510px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 560px) {
  html body .button-wrap {
    background-image: url(../img/common/contact_sp.png);
    height: 433px;
  }
}

html body .button-wrap .block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  /*letter-block*/
  /*button_block*/
}

html body .button-wrap .block .letter-block {
  color: white;
  text-align: center;
  padding-top: 102px;
  margin-bottom: 42px;
  /*sub*/
  /*letter*/
  /*sub-sentence*/
}

@media (max-width: 560px) {
  html body .button-wrap .block .letter-block {
    padding-top: 62px;
    margin-bottom: 30px;
  }
}

html body .button-wrap .block .letter-block .sub-letter {
  font-size: 16px;
}

@media (max-width: 560px) {
  html body .button-wrap .block .letter-block .sub-letter {
    font-size: 13px;
  }
}

html body .button-wrap .block .letter-block .contact-letter {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 25px;
}

@media (max-width: 560px) {
  html body .button-wrap .block .letter-block .contact-letter {
    font-size: 33px;
    margin-bottom: 22px;
  }
}

html body .button-wrap .block .letter-block .sub-sentence {
  font-size: 18px;
}

@media (max-width: 560px) {
  html body .button-wrap .block .letter-block .sub-sentence {
    font-size: 15px;
  }
}

html body .button-wrap .block .button_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 992px;
  margin: 0 auto;
  height: 133px;
  margin-top: 42px;
}

@media (max-width: 1100px) {
  html body .button-wrap .block .button_block {
    width: 750px;
  }
}

@media (max-width: 768px) {
  html body .button-wrap .block .button_block {
    width: 94%;
    height: 100px;
  }
}

@media (max-width: 560px) {
  html body .button-wrap .block .button_block {
    display: block;
  }
}

html body .button-wrap .block .button_block .left_button {
  width: 100%;
  /*a*/
}

@media (max-width: 560px) {
  html body .button-wrap .block .button_block .left_button {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 9px;
  }
}

html body .button-wrap .block .button_block .left_button a {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 37px;
  display: block;
  background-color: white;
  text-align: center;
  height: 133px;
  padding-top: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /*img*/
  /*span*/
}

@media (max-width: 1100px) {
  html body .button-wrap .block .button_block .left_button a {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  html body .button-wrap .block .button_block .left_button a {
    height: 100px;
    padding-top: 20px;
    font-size: 28px;
  }
}

@media (max-width: 560px) {
  html body .button-wrap .block .button_block .left_button a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    padding: 10px 0px 14px 0px;
    height: 80px;
  }
}

html body .button-wrap .block .button_block .left_button a .time {
  display: block;
  font-size: 15px;
}

@media (max-width: 560px) {
  html body .button-wrap .block .button_block .left_button a .time {
    font-size: 14px;
  }
}

html body .button-wrap .block .button_block .right_button {
  width: 100%;
  /*a*/
}

html body .button-wrap .block .button_block .right_button a {
  display: block;
  text-align: center;
  font-size: 22px;
  padding: 50px 0px;
  color: white;
  height: 133px;
  background: -webkit-gradient(linear, left top, right top, from(#FF2E47), to(#FFAD88));
  background: linear-gradient(to right, #FF2E47, #FFAD88);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 900;
}

@media (max-width: 768px) {
  html body .button-wrap .block .button_block .right_button a {
    height: 100px;
    padding: 35px 0px;
  }
}

@media (max-width: 560px) {
  html body .button-wrap .block .button_block .right_button a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    padding: 24px 0px;
    height: 72px;
  }
}

html body .button-wrap::before {
  height: 510px;
  width: 100%;
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(54, 78, 96, 0.45);
}

html body .footer {
  background-color: #364E60;
  /*inner*/
}

html body .footer .footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 97px 0px 97px;
  max-width: 1088px;
  margin: 0 auto;
  /*sp*/
  /*sp*/
  /*address*/
  /*nav*/
  /*copy-right*/
  /*map*/
}

@media (max-width: 1100px) {
  html body .footer .footer_inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  html body .footer .footer_inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 560px) {
  html body .footer .footer_inner {
    display: block;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 73px;
  }
}

html body .footer .footer_inner .footer_nav_sp {
  display: none;
  /*list*/
}

@media (max-width: 560px) {
  html body .footer .footer_inner .footer_nav_sp {
    display: initial;
  }
}

html body .footer .footer_inner .footer_nav_sp .footer_nav_ul_sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*li*/
}

@media (max-width: 560px) {
  html body .footer .footer_inner .footer_nav_sp .footer_nav_ul_sp {
    padding-bottom: 67px;
  }
}

html body .footer .footer_inner .footer_nav_sp .footer_nav_ul_sp li {
  list-style: none;
  font-weight: bold;
  border-right: 1px solid white;
  font-size: 15px;
}

html body .footer .footer_inner .footer_nav_sp .footer_nav_ul_sp li a {
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}

html body .footer .footer_inner .footer_nav_sp .footer_nav_ul_sp li:last-child {
  border-right: none;
}

@media (max-width: 768px) {
  html body .footer .footer_inner img {
    width: 200px;
  }
}

html body .footer .footer_inner .address {
  color: white;
  font-size: 14px;
  margin-top: 27.5px;
  line-height: 1.5;
  /*span*/
}

@media (max-width: 560px) {
  html body .footer .footer_inner .address {
    margin-top: 17.5px;
    padding-bottom: 18px;
    font-size: 13px;
  }
}

html body .footer .footer_inner .address span {
  display: block;
}

html body .footer .footer_inner .footer_nav {
  margin-top: 26px;
  width: 100%;
  /*list*/
}

@media (max-width: 560px) {
  html body .footer .footer_inner .footer_nav {
    display: none;
  }
}

html body .footer .footer_inner .footer_nav .footer_nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*li*/
}

html body .footer .footer_inner .footer_nav .footer_nav_ul li {
  list-style: none;
  font-weight: bold;
  border-right: 1px solid white;
}

html body .footer .footer_inner .footer_nav .footer_nav_ul li a {
  color: white;
  padding-right: 15px;
  padding-left: 15px;
}

html body .footer .footer_inner .footer_nav .footer_nav_ul li #first-nav {
  padding-left: 0px;
}

html body .footer .footer_inner .footer_nav .footer_nav_ul li:last-child {
  border-right: none;
}

html body .footer .footer_inner .copyright {
  color: white;
  font-size: 13px;
  margin-top: 24px;
}

@media (max-width: 560px) {
  html body .footer .footer_inner .copyright {
    display: none;
  }
}

html body .footer .footer_inner .map {
  /*iframe*/
}

html body .footer .footer_inner .map iframe {
  width: 576px;
  height: 254px;
  /*sp*/
  /*sp*/
  /*sp*/
}

@media (max-width: 1100px) {
  html body .footer .footer_inner .map iframe {
    width: 376px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  html body .footer .footer_inner .map iframe {
    width: 45vw;
    height: 200px;
  }
}

@media (max-width: 560px) {
  html body .footer .footer_inner .map iframe {
    width: 89vw;
    height: 190px;
  }
}

html body .footer .footer_inner .copyright_sp {
  display: none;
}

@media (max-width: 560px) {
  html body .footer .footer_inner .copyright_sp {
    display: block;
    color: white;
    font-size: 13px;
    padding-top: 51px;
  }
}
/*# sourceMappingURL=service_page.css.map */